@charset 'utf-8';

@import './variable.scss';

// -----------------------------------------------------------

// @function PXtorem($PX) {    // $PX为稿子中的PX大小
//     @return $PX / $browser-default-font-size / $ratio + rem;
// }

// @function border($PX: 1PX, $color: $black-eee, $decoration: solid) {
//   @return $PX $decoration $color;
// }

// ----------------------------------------------------------

// @mixin box-modal($type: padding, $top: 0, $right: 0, $bottom: $top, $left: $right) {
//   #{$type}: {
//     top: $top;
//     right: $right;
//     bottom: $bottom;
//     left: $left;
//   }
// }

// @mixin padding($top: 6PX, $right: 16PX, $bottom: $top, $left: $right) {
//   @include box-modal(padding, $top, $right, $bottom, $left);
// }

// @mixin margin($top: 0, $right: 0, $bottom: $top, $left: $right) {
//   @include box-modal(margin, $top, $right, $bottom, $left);  
// }

// 普通常用尺寸：容器留白、元素间隔等
// $suit-size: 24PX;
@function suit-size($ratio: 2) {
  @return 12PX * $ratio;
}


// @mixin flex-small-device($prop, $val, $only-small: false) {
//   @media screen and (min-width: 321PX){
//     @if ($only-small == false) {
//       #{$prop}: $val;
//     }
//   }
//   @media screen and (max-width: 322PX){
//     @if type-of($val) == 'number' {
//       #{$prop}: $val * (320 / 375);
//     }
//     @else {
//       #{$prop}: $val;
//     }
//   }
// }

@mixin absolute ($top: 0, $right: 0, $bottom: 0, $left: 0){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed ($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// 常用的
@mixin line-height-center ($height: 100%, $line-height: $height, $align: center) {
  height: $height;
  line-height: $line-height;
  text-align: $align;
}
@mixin self-fixed-center ($width: auto, $height: auto) {
  height: $height;
  width: $width;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin square ($width: 40PX, $height: $width) {
  width: $width;
  height: $height;
  overflow: hidden;
}
@mixin round ($width) {
  @include square($width);
  border-radius: 50%;
}

@mixin flex-box ($flow: row, $justify-type: space-around, $align-items: stretch) {
  display: flex;
  flex-flow: $flow nowrap;
  justify-content: $justify-type;
  align-items: $align-items;
}

@mixin operate () {
  @include line-height-center(46PX);
  padding: 0 20PX;
  display: inline-block;
  border-radius: 3PX;
  color: $black-666;  
  box-sizing: border-box;
  min-width: 140PX;
  font-size: 18PX;
}

@mixin ellipsis ($line-count: 1) {
  @if $line-count == 1 {
    display: inline-block;
    white-space: nowrap;
  }
  @else {
    display: -webkit-box;
    // https://github.com/postcss/autoprefixer/issues/776
    // -webkit-box-orient 这个属性会被autoprefixer移除，需要像下面这样处理
    // in Sass/SCSS you can use all the disable options above, 
    // add an exclamation mark in the start of comment: /*! autoprefixer: off */.

    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /*! autoprefixer: on */
    -webkit-line-clamp: $line-count;
  }
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

//定位上下居中 vertical-center
@mixin vc () {
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
}

//定位左右居中 horizon-center
@mixin hc () {  
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
}

// 页面头尾
@mixin page-header () {
  @include line-height-center(100PX);
  background: $white-2;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1PX solid $black-eee;
  z-index: 20;
}
@mixin page-footer () {
  // height: 90PX;
  @include line-height-center(90PX);
  position: fixed;
  // position: absolute;
  bottom: 0;
  width: 100%;  
  margin: 0 auto;  
  background: $white;
  color: $black-666;
  border-top: 1PX solid $black-eee;
  z-index: 20;
}