@charset "utf-8";

@import './variable.scss';
@import './mixin.scss';

/**************************************************
  参考 https://www.w3cplus.com/css/bem-definitions.html
  
  最后，用团队的css规范

  ps: 1. 我们在长名称中1个使用连字符分隔单词（例如，block-name），使用2个下划线来分隔块名和元素名（block-name__element-name）。

      2. 我们用2个连字符来分隔块名（或元素名）和修饰符名，再用另1个下划线来分隔修饰符名和它对应的值。

      block-name__element-name--feature-name_feature-value
/**************************************************


/**************************************************
			通用小零件样式 / 全局修饰符

			颗粒化处理，方便写样式
*************************************************/


// 基本操作样式(默认中等）
.operate,
.operate_medium {
  @include line-height-center(46px);
  padding: 0 16px;
  font-size: 24px;
  display: inline-block;
  border-radius: 3px;
  color: #666;
  box-sizing: border-box;
}
.operate_small {
  @include line-height-center();
  padding: 0 16px;
  font-size: 20px;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  color: $black-666;
  box-sizing: border-box;
}

// 普通操作（文字，#666）
.operate_default {
  color: $black-666;
}
.operate_confirm {
  color: $red-1;
}
// 普通操作（按钮，#666）
.btn_default {
  border: 1px solid $black-666;
  color: $black-666;
}
// 确定操作（按钮，#666）
.btn_confirm {
  border: 1px solid #bc2228;
  color: #bc2228;
}
// 确定操作（实心按钮
.btn_primary{
  color: #fff;
  background: #ff0000;
  border: 1px solid #ff0000;  
}

// 商品图片，列表中的小图片尺寸
.small_img {
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 3px;
}

// 没有内容
.empty {
  text-align: center;
}


/** ================================================================
*      以下为各种列表或容器的基本样式（可理解为壳）
*      usage: 看到稿子有相近的情景时，直接套就好
        【ps: 该版是在商城的个人中心中，订单部分和地址部分使用的，不清楚出来的效果，直接去看
*/


/*****************************
        .header
*****************************/
.header {
  @include line-height-center(100px);
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $black-eee;
  z-index: 20;
  .left {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100px;
  }
  .icon-back {
      display: block;
      height: 100px;
      width: 100px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100px;
  }
  .right{
    top: 0;
    @include line-height-center(100px);
  }
}

.header__title {
  @include line-height-center(100px);
  // color: $brown;
  // font-weight: 600;
  // font-size: 42px;
}

// .header .icon-menu {
//   display: block;
//   float: left;
//   height: 24px;
//   width: 24px;
//   margin: 8px;
//   background-position: center center;
//   background-repeat: no-repeat;
//   // background-image: url(../images/common/icon_menu.png);
//   // background-size: 1.375rem 1.375rem;
//   background-size: 22px;
// }

/*****************************
        .container  总的外层div，使之高度撑起来，背景颜色充满窗口
*****************************/
.container {
  height: 100%;
}

/*****************************
        .wrapper
*****************************/

//  移动端，去掉header和footer后规定好的显示区域 
.wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;  
  margin-top: 100px;
  min-height: 1130px; // for the browsers that don't support the calc() function
  min-height: calc(100vh - 200px);
}
// 下面两块为定制出另外两个壳，该思路可行，定制容器

// 没有header，将header的尺寸加入wrapper
.wrapper--no-header {
  margin-top: 0;
}
.wrapper--no-footer {
  margin-bottom: 0;
}

/*****************************
      .tag 块
*****************************/
.tags {
  text-align: center;
  margin: 20px;
}
// tag 参看新专题模板
.tag {
  @include line-height-center(40px);
  background: $green;
  color: $green-1;
  border-radius: 10px;
  padding: 0 16px;
  margin: 0 8px;
  font-size: 20px;
  .icon {
    @include square(20px);
    position: relative;
    display: inline-block;
  }
}

/*****************************
    section-header 块
*****************************/
.section-header {
  // padding-top: 16px;
  // border-bottom: 1px solid $black-ccc;
}
.section-header__title {
  @include line-height-center(86px);
  position: relative;
  color: #b89f7b;
  font-weight: 600;
  .icon-square {
    position: relative;
    display: inline-block;
    vertical-align: sub;
  }
}

/*****************************
    .section-layout 块
*****************************/
.section-layout {
  border-top: 1px solid $black-eee;  
  border-bottom: 1px solid $black-ccc;
  background: $white;
  line-height: 40px;
}
.section-layout__status{
    font-weight: 600;
    color: $black-333;
}


/*******************************
    .note-list
********************************/

.note-list {

}
.note-list__item{
  position: relative;
  padding: 24px 40px;
  border-bottom: 1px solid $black-eee;
}
.note-list__item__title {
  position: relative;
  font-size: 26px;
  span {
    font-size: 26px;
  }
}
.note-list__item__content {
  position: relative;  
}

/*****************************
    .product-list(list)
*****************************/

.product-list {
  overflow: hidden;
  position: relative;
}
.product-list__item {
  padding: 24px;
  min-height: 140px;
  box-sizing: border-box;
  border-bottom: 1px solid $black-ccc;
  &:last-child {
    border-bottom: 0;
  }
  dl {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
  }
  dt{
    height: 110px;
    width: 110px;
    margin-right: 24px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  dd {
    position: relative;
    font-size: 24px;
    flex: 1 0;
  }
  h4 {
    height: 70px;
    line-height: 35px;
    padding-right: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-weight: 500;
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    span{
      position: absolute;
      top: 0;
      right: 0;
      color: $black-666;
    }
  }
  p {
    margin-top: 2px;
    color: $black-666;
    position: relative;
    span{
      position: absolute;
      right: 0;
    }
  }
}



//  ---------------------下面待改，待个人中心页面移进来后，自然样式会乱

// 模式变为：
// 主体内容容器块section-layout
// 列表块 *-list
// 再下面的列表项 *-list_item (中划线区分内容与模式，下划线区分父与子块

/*****************************
        .tabs
*****************************/
.tabs-wrapper{
  top: 101px;
  height: 78px;
  line-height: 78px;
  position: fixed;
  left: 0;
  right: 0;
  border-bottom: 1px solid $black-eee;
  background: $white;
  z-index: 10;  
}
.tabs-wrapper__tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  a {
    margin: 0 10px;
    height: 76px;
    display: block;
    color: $black-666;
    &.selected {
      color: $brown;
      border-bottom: 2px solid $brown;
    }
  }
}
.tab {
  font-size: 28px;
  text-align: center;
  width: 50%;
}


/*******************************
    物流信息的列表样式
    .deliver-list
********************************/

.deliver-list {
  .icon {
      left: 0;
      z-index: 1;
      background-color: #fff;
  }
}
.deliver-list_item{
  position: relative;
  p{
    padding: 40px 20px 10px 60px;      
    font-size: 24px;
    position: relative;
    color: $black-333;

    // 这一堆是右侧的线（详看个人中心物流信息页
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      background: #c3c3c3;
      bottom: 0;
      left: 20px;
    }
  }
  &:last-child p::after {
      height: 60px;
      top: 0;
  }
  &:first-child p::after {
      top: 40px;
      bottom: 0;
  }
  &:only-of-type p::after {
    height: 0;
  }
  small {
    font-size: 20px;      
    color: $black-ccc;
    display: block;
  }
  .icon-truck {
    top: 38px;      
    left: 0;
  }
  .icon-more {
    right: 0;
    top: 50%;
    left: unset;
  }
}
/*****************************
      .plate-title 块
*****************************/

.plate-title {
  margin: 0 24px;
  overflow: hidden;
  position: relative;
  line-height: 70px;
  // border-bottom: 1px solid $black-ccc;
  text-align: center;
  div{
    font-size: 24px;
    margin: 0;
    color: $black-666;
  }
  .right {
    top: 50%;
    transform: translate(0, -50%);
  }
  .title {
    font-size: 24px;
    vertical-align: top;
    position: relative;
  }
  .operate {
    font-size: 20px;
  }
}


/*****************************
    展示信息的wrapper
    .info-wrapper(list)
*****************************/
.info-wrapper {
  margin: 0;
  border-bottom: 1px solid $black-eee;
  background: $white;
  line-height: 40px;
  .status{
      font-weight: 600;
      color: $black-333;
  } 
  .deliver-list {
    overflow: hidden;
    position: relative;
    margin: 0 24px;
  }
  .plate-title {
    overflow: hidden;
    position: relative;
    margin: 0 24px;
    #copyId {
      margin: 0 0 0 16px;      
      font-weight: 400;
    }
  }
  .content {
    margin-top: 10px;
    padding: 0 0 22px 44px;
    font-size: 24px;
    color: $black-666;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    margin: 0 24px;
    .icon-location {
      left: 0;
    }
    .tel {
      position: absolute;
      top: 0;
      right: 0;
    }
    .location {
      line-height: 40px;
      margin-top: 10px;
    }
    .country{
      margin-right: 28px;
    }
  }
}


/*****************************
    .price-wrapper(list)
*****************************/
.price-wrapper {
  font-size: 24px;
  border-bottom: 1px solid $black-eee;
  background: $white;
  line-height: 40px;
  .status{
      font-weight: 600;
      color: $black-333;
  }
  .payway, 
  .price, 
  .final {
    margin: 0 24px;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid $black-ccc;
  }
  dd {
    line-height: 38px;
    color: $black-666;    
    text-align: left;
    font-weight: 500;
    position: relative;
    b {
      font-weight: 500;
      position: absolute;
      right: 0;
    }
  }
  .payway {
    margin: 0;
    padding: 20px 24px;
    border-color: $black-eee;
  }
  .final {
    border: 0;
    text-align: right;
    color: $black-333;    
    strong {
      color: $black-333;
      font-weight: 600;
    }
    em {
      color: $red;
      font-weight: 600;      
    }
  }
}


/**********************************
    input placeholder文字颜色
***********************************/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit*/  
  color: $black-bbb;
}  
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
  color: $black-bbb;  
}  
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */  
  color: $black-bbb;  
}  
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $black-bbb;  
}


/*****************************
    loading
*****************************/
#loading{
  @include fixed();
  z-index: 1010;
  div{
    @include square(120px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(51, 50, 50, 0.61);
    border-radius: 6px;
  }
  .icon-loading{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*****************************
    menulist-wrapper
*****************************/
.menulist-wrapper {
  background: $white;
  border-bottom: 1px solid $black-eee;
  ul{
    margin: 0 24px;
  }
  li{
    border-bottom: 1px solid $black-eee;
    text-align: left;
    position: relative;
    @include line-height-center(90px);
    padding: 0 16px;
    &:last-child{
      border-bottom: 0;
    }
    i{
      right: 0;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
/*****************************
    footer
*****************************/
.footer-nav{
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  @include fixed();
  top: unset;
  background: #f3f1f2;
  height: 100px;
  overflow: hidden;
  border-top: 1px solid #dedbdb;
  ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: stretch;
    li{
      width: 50%;
      margin-top: 8px;
    }
  }
  i.icon{
    @include square(55px);
    position: relative;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  h4{
    @include line-height-center(26px);
    font-size: 24px;
    text-align: center;
  }
}


/*****************************
    装载待复制文本的input
*****************************/
.copy-text-store {
  opacity: 0;
  position: fixed; 
  top: -99999rem; 
  right: -99999rem;
  z-index: -100;
}








// // ===================================== 表示以下内容一定要放在最后面的分割线 =============================================================


// /************************************
//         fix-iphoneX 适配iphoneX部分
// *************************************/
@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
  body {
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
  }
  .footer-wrapper {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}