// 变量的值可以定义

// 默认rem的值
// $browser-default-font-size: 16px !default;

/*
 *  这块是用于转换px与rem的
 *  稿子宽度一般是750px，开发的手机尺寸宽度一般是375px
 *
*/
// // 默认设备宽度
// $device-default-width: 375px !default;

// // 默认稿子宽度
// $design-default-width: 750px !default;

// // 缩放比
// $ratio: $design-default-width / $device-default-width;

/** 
  * 关于上面注释掉的变量
  * 20180326 xfh.log: px转rem使用webpack的postcss了，scss中的所有 @function pxtorem() 不再使用
 */

/**
 *  颜色
 */
// 白色
$white: #fff;
// 专题页背景色
$white-1: #f4efea;
// 专题页header背景色
$white-2: #faf7ee;

// 棕色部分，brown+数字（越大越浓
$brown: #dc9650;
$brown-0: #dc9650;
$brown-1: #dd9953;

//红色部分
$red: #ff0000;
$red-0: #ff0000;
$red-1: #bc2228;
$red-2: #b83c42;
$red-3: #d04238; // 专题footer

// 黑色/灰色部分，black+色号（常用
$black-333: #333;
$black-666: #666;
$black-999: #999;
$black-eee: #eee;
$black-ccc: #ccc;
$black-bbb: #bbbbbb;

// 绿色
$green: #e9f6ea;
$green-1: #79c781;

/**
 *  icon
    20180330 xfh.add  最新commet： 后来发现zz了。。将icon写成组件全丢一个vue里面就行了
 */
// 和子朝商量好了，icon全部放到一个文件夹里，因为common类的占比其实很高
// $icon-baseUrl: 'https://s103.ggwan.com/shopv2/member/images'; //toFix: 确定新的文件夹位置前先用着
$icon-baseUrl: '/static/img'; // 移到项目中看看
