
@charset "utf-8";

/* 
    2018/02/02 xfh.add 编写适配iPhoneX的样式，主要针对底部小黑条
    https://aotu.io/notes/2017/11/27/iphonex/index.html
*/


@supports (bottom: constant(safe-area-inset-bottom)) or (bottom: env(safe-area-inset-bottom)) {
    body {
        margin-bottom: constant(safe-area-inset-bottom);
        margin-bottom: env(safe-area-inset-bottom);
    }
    .gotop,
    .go-top,
    .wrap-ripple,
    .footer-fixed {
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
    .footer-fixed {
        background: #fff;
    }

    .menu .menu-footer {
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }

    /* 旧专题模板 */
    .footerNav{
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
    .footerNav a{
        overflow: hidden;
    }
}